/* Section containing the account-related content */
header {
  margin-bottom: 0;
}

.account-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* height: calc(100vh - 8vh); */
  /* background: #ccc; */
  flex: 1;
  /* margin-bottom: 1rem; */
}

/* Section containing the profile information */
.profile-section {
  width: 50%;
  /* border: 1px solid #ccc; */
  padding: 1rem;
  align-self: flex-start;
  background-color: white;
  margin-top: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-info {
  border-bottom: 1.8px solid black;
  font-size: 3rem;
  margin-bottom: 4rem;
  width: 80%;
}

/* Div containing the profile picture and text */
.profile-info {
  display: flex;
  /* background: blue; */
  margin-bottom: 3rem;
  align-items: center;
  gap: 4rem;
}

.profile-picture {
  width: 100px;
  /* background: green; */
}

.profile-picture img {
  max-width: 100%;
  clip-path: circle();
}

/* Div containing the username and email */
.profile-text h2 {
  /* margin: 3rem 0 0 -8rem; */
  font-size: 2rem;
}

.profile-text p {
  font-weight: 300;
  font-size: 1.5rem;
}

/* Labels in the form */
label {
  font-size: 1.3rem;
  display: block;
}

/* Input fields in the form */
input {
  width: 80%;
  padding: 0.7rem 0.7rem;
  margin-bottom: 2rem;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  border-bottom: 1.8px dashed black;

  font-size: 1.5rem;
  outline: none;
}

.file-input {
  padding: 0;
}

/* Submit button in the form */
.update-btn {
  border: none;
  font-size: 1.4rem;
  background: rgb(0, 123, 255);
  background: green;
  color: white;
  /* width: 25%; */
  width: 175px;
  /* align-self: flex-start; */
  
  padding: 1.3rem 3rem;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
  /* margin-bottom: 5rem; */
}

#input-border-error {
  border: 1px solid red;
  outline: none;
}

.form-error-message {
  color: red;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.upload-picture {
  margin-bottom: 4rem;
}

.upload-picture input:hover {
  cursor: pointer;
}

#profile-pic {
  cursor: pointer;
}

@media screen and (max-width: 565px) {
  .profile-section {
    width: 90%;
  }

  .profile-info {
    gap: 2rem;
  }
}

@media screen and (max-height: 568px) {
  body {
    background: red;
  }

  .profile-section {
    margin: 1rem 0;
    /* margin-bottom: 2rem; */
  }

  .update-btn {
    width: 120px;
  }
}

