@import url(./reset.css);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.post-header {
  background: white;
  border-bottom: 1px solid black;
}

/* HIDE HANDBURGER */
.mobile-handburger {
  display: none;
}

.nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 2rem;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.publish {
  background: green;
  font-size: 1.3rem;
  padding: 0.3rem 2rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__left li a {
  font-size: 2rem;
}

/* post container */
.post-container {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

.post-article {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1.4rem;
  border-radius: 10px;
  border: none;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
}

input {
  padding: 1rem 0.5rem;
}

.form {
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background: blue; */
}

.title-input {
  width: 100%;
  padding-left: 5px;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.body-textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  min-height: 300px;
  resize: both;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid black;
}

/* MEDIA QUERY */
/* TABLET DEVICES */
@media screen and (max-width: 835px) {
  .nav {
    width: 90%;
  }
  .post-article,
  .post-container {
    width: 100%;
  }
  .form {
    width: 100%;
  }
}

/* MOBILE DEVICES */
@media screen and (max-width: 565px) {
  .nav {
    width: 90%;
  }

  .mobile-handburger {
    display: block;
  }
  .nav__right li:not(:first-child) {
    display: none;
  }
}

@media screen and (min-height: 900px){

.body-textarea{
  min-height: 500px;
}
  
}